# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs and databases
*.log
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

# Python Packages
*.egg-info/
dist/
build/
